@page "/about"

<PageTitle>About</PageTitle>

This website was built as a way for me to learn some Blazor.

The site is built using
<ul class="list-disc p-9">
    <li>ASP.NET Core (Blazor Server)</li>
    <li>TailwindCSS key(Using PostCSS and Node to build)</li>
</ul>